<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="OrderFormSystem.Properties.Settings.Database1ConnectionString"
        connectionString="Data Source=|DataDirectory|\Database1.sdf"
        providerName="Microsoft.SqlServerCe.Client.3.5" />
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
